<section id="home" class="home-section">
    <div class="home-inner shadow">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <div class="overImg welcome">
                        <div class="welcomeLogo">
                            <img src="/img/logo.png" class="img-logo" alt="Logo JSDay 2017">
                            <span class="date">{{ text.home.date }}</span>
                        </div>
                        <h1>{{ text.home.welcome }}</h1>
                        <div class="flexslider intro-slider">
                            <ul class="slides">
                                <li>{{ text.home.text1 }}</li>
                                <li class="large">{{ text.home.text2 }}</li>
                            </ul>
                        </div>
                    <div class="text-center">
                        <a class="btn btn-lg btn-yellow" target="_blank" href="https://www.koliseo.com/jsdayes/jsdayes-2017">{{ text.tickets.buyticket }}</a>
                    </div>                              
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>