<section id="streaming" class="streaming-section">
    <div class="container">
        <div class="row">
            <div class="center-title text-center">
                <h2>¡Síguenos en directo!</h2>
                <p>Sigue por streaming el JSDayES, la mejor conferencia sobre JavaScript en español.</p>
                <p>Patrocinado por <a href="http://www.todojs.com/">todoJS</a> y <a href="http://www.transparentcdn.com/">Transparent CDN</a>.</p>
                <span class="center-line"></span>
                <iframe src="http://eventos.televeo.com/player/aec" frameborder="0" width="720" height="405" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>