<section id="where" class="where-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 center-title text-center">
                <h2>{{ text.header.where }}</h2>
                <span class="center-line"></span>
                <!-- <p>
                </p> -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <h3>FUNDACIÓN PABLO VI</h3>
                Paseo de Juan XXIII, 3. 28040 Madrid <br> <a target="_blank" href="http://www.fpablovi.org/index.php/auditorio">fpablovi.org</a> <br><br>
                <h4><i class="fa fa-bus"></i> {{ text.where.transport }}</h4>
                Metro -  línea 6 - Metropolitano<br>
                Bus -  circular 1, circular 2, 132, L06<br><br>
                <img class="img-responsive" src="/img/AuditorioCabecera01.jpg" width="460" alt="FUNDACIÓN PABLO VI">
            </div>
            <div class="col-sm-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.372948502879!2d-3.719933998221819!3d40.44488178352964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422848fae84da9%3A0xbf3a2ad38f673220!2sPaseo+de+Juan+XXIII%2C+3%2C+28040+Madrid!5e0!3m2!1ses!2ses!4v1489601298647" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
