<!DOCTYPE html>
<html lang="${{ _lang_ }}$">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Call for proposals</title>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,600,500,700">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Cabin:400,400italic,500,600">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Great+Vibes">
        <!-- build:css /css/main.css -->
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/flexslider.css" media="screen">
        <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" media="screen">
        <link rel="stylesheet" type="text/css" href="css/owl.theme.css" media="screen">
        <link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css" media="screen">
        <link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
        <link rel="stylesheet" type="text/css" href="css/kagenda-styles.css" media="screen">
        <link rel="stylesheet" type="text/css" href="css/custom.css" media="screen">
        <!-- endbuild-->
    </head>
    <body data-spy="scroll" class="lang-${{ _lang_ }}$">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                        <span class="sr-only">${{ text.header.changeNavState }}$</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">${{ text.title }}$</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav scroll-to navbar-right">
                        <li><a href="/#home">${{ text.header.home }}$</a></li>
                         <li><a href="/#proposals">${{ text.header.cfp }}$</a></li>
                        <!-- <li><a href="#streaming">${{ text.header.streaming }}$</a></li> -->
                        <!-- <li><a href="#speakers">${{ text.header.speakers }}$</a></li>
                        <li><a href="#schedule">${{ text.header.schedule }}$</a></li> -->
                        <!-- <li><a href="/#where">${{ text.header.where }}$</a></li> -->
                        <!-- <li><a href="#tickets">${{ text.header.tickets }}$</a></li> -->
                        <li><a href="/#organizers">${{ text.header.organizers }}$</a></li>
                        <li><a href="/#sponsors">${{ text.header.sponsors }}$</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="cfp-page">
            <div class="container">
                <h1>Call For Proposals</h1>

                <p>Muchas gracias a la <a target="_blank" href="http://jsconf.eu">JSConf</a> por su increíble “Call for Speakers” que ha servido de base para esta página.</p>

                <p>Nos gustaría invitar a toda la comunidad de Javascript a enviar sus propuestas para nuestro siguiente <strong>JSDayEs (12 y 13 de Mayo en Madrid)</strong>. El CfP se cerrará el 31 de Enero de 2017.</p>

                <p>Si tienes algo genial  sobre lo que hablar cuéntanoslo y consideraremos tu propuesta. También si conoces a alguien que tenga un tema interesante anímale para que venga a contárnoslo.</p>

                <p class="submit-talk"><a target="_blank" href="https://www.koliseo.com/jsdayes/jsdayes-2017/r4p/5765283616653312#/" class="btn btn-dark btn-lg">Rellenar CfP</a></p>

                <h2>Temas</h2>

                <ul>
                    <li>Javascript de vanguardia ES7, Internals...</li>
                    <li>JS en mobile</li>
                    <li>JS en hardware</li>
                    <li>El framework que salió ayer</li>
                    <li>Cómo mejorar la calidad de mi JS</li>
                    <li>Cómo aprendí JS y trucos raros</li>
                    <li>Ideas locas</li>
                    <li>Y por último, <strong>lo que tú quieras!</strong></li>
                </ul>

                <h2>En qué podemos ayudar</h2>

                <p>No todo el mundo se siente cómodo en el escenario. No todo el mundo puede hacer unas slides de la leche. No todo el mundo es Dios de las demos en directo. <strong>Y no todo el mundo sabe que tiene algo genial sobre lo que hablar</strong>.</p>

                <p>Hay alrededor de un millón de razones por las que no te consideras ponente en una conferencia donde gente con un nivelazo ha hablado en el pasado. ¡Estamos aquí para demostrar que estás equivocado!. Todo lo que tienes que tener es ganas de estar en el escenario, estamos aquí para ayudarte a desarrollar y perfeccionar las habilidades que crees que te faltan para dar una gran charla.</p>

                <ul>
                    <li>Estaremos encantados de hacer una lluvia de ideas contigo para encontrar el tema oculto sobre el que puedes hablar.</li>
                    <li>Estaremos encantados de revisar y aconsejarte sobre cómo preparar las slides.</li>
                    <li>Si necesitas practicar la charla podemos reunir un grupo de amigos para que puedas hablar delante de una multitud amigable.</li>
                    <li>Estaremos encantados de ponerte en contacto con alguien que pueda ayudarte a preparar tu propuesta.</li>
                    <li>Una vez más, cualquier cosa que puedas necesitar aquí estamos para ayudar.</li>
                </ul>

                <p><strong>¡Queremos que el JSDayEs sea donde des tu primera charla!</strong></p>

                <p>Ponte en contacto: hola@jsday.es</p>

                <p>Si aún no te hemos animado los suficiente mira la web <a target="_blank" href="http://weareallaweso.me/">We Are All Awesome</a> que intentará convencerte.</p>

                <h2>Incentivos</h2>

                <p>Si te seleccionamos como ponente para el <strong>JSDayEs</strong> esto es lo que consigues.</p>

                <ul>
                    <li>Viaje a Madrid cubierto. Te pagamos el avión, tren, patines y lo que haga falta para que vengas.</li>
                    <li>Entrada a la conferencia</li>
                    <li>Hotel en Madrid noches 12 y 13 de Mayo (2 noches)</li>
                </ul>

                <p>Si tu empresa puede cubrir el viaje y el hotel lo agregaremos como uno de nuestros sponsors. El dinero que nos ahorramos nos ayuda hacer una conferencia mejor.</p>

                <p>Si tienes algún requisito especial, háznoslo saber.</p>

                <h2>El proceso de selección</h2>

                <p>Así es más o menos cómo elegimos nuestras charlas:</p>

                <p>Los encargados de votar sólo conocerán el tema, por lo que no sesgamos por nada relacionado con el ponente.</p>

                <p>La ronda de votación:</p>

                <ul>
                    <li>La primera ronda de votación de cada charlas se valora del 1 al 10.</li>
                    <li>Descubrimos quién está detrás de la charla seleccionada y miramos los detalles del ponente. Depende de nuestro presupuesto se puede optar por ponentes más cercanos. También queremos fomentar la diversidad en la comunidad, por ejemplo dando prioridad a ponentes que vayan a dar su primera charla.</li>
                </ul>

                <h2>Otras notas importantes</h2>

                <ul>
                    <li>Antes de ser aceptada la charla quizá te hagamos algunas preguntas adicionales.</li>
                    <li>Puedes enviar varias propuestas.</li>
                    <li>Puedes enviar workshops de aproximadamente 2 horas.</li>
                    <li>Si eres seleccionado te avisaremos en las semanas siguientes al fin del CfP.</li>
                    <li>También te avisaremos si tu charla no está seleccionada.</li>
                    <li>Las charlas deberán tener una duración máxima de 40 minutos.</li>
                </ul>

                <p class="submit-talk"><a target="_blank" href="https://www.koliseo.com/jsdayes/jsdayes-2017/r4p/5765283616653312#/" class="btn btn-dark btn-lg">Rellenar CfP</a></p>
            </div>
        </div>
    </body>
</html>
