
{% set backstretch = true %}

{% extends "layout.html" %}
{% block content %}
{% include "partials/header.html" %}
{% include "partials/main-buy.html" %}
{#  {% include "partials/streaming.html" %} #}
{# {% include "partials/speakers.html" %} #}
{# {% include "partials/schedule.html" %} #}
{% include "partials/presentation.html" %}
{% include "partials/proposals.html" %}
{% include "partials/where.html" %}
{# {% include "partials/tickets.html" %} #}
{% include "partials/contact.html" %}
{% include "partials/organizers.html" %}
{# {% include "partials/sponsors.html" %} #}
{% include "partials/footer.html" %}
{% endblock %}