<!DOCTYPE html>
<html lang="{{ _lang_ }}">
    <head>
        {% if languageUrl %}
        <script>
        var language = navigator.language || navigator.browserLanguage;

        if(language === 'es' && window.location.href.indexOf('/es/') === -1) {
            if(window.location.href[window.location.href.length - 1] === '/') {
                window.location.href= window.location.href + 'es/';
            } else {
                window.location.href= window.location.href + '/es/';
            }
        }
        </script>
        {% endif %}
        <link rel="icon" type="image/png" href="/favicon.png">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ text.title }}</title>
    </head>
    <body data-spy="scroll" class="{% if backstretch %}backstretch-enabled{% endif %} lang-{{ lang }}">
        {% block content %} {% endblock %}

        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <script src="/js/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
        <script>
          WebFont.load({
            google: {
              families: ['Cabin:400,400italic,500,600']
            }
          });
        </script>        
    </body>
</html>
