<!DOCTYPE html>
<html lang="{{ _lang_ }}">
    <head>
        <script>
        var language = navigator.language || navigator.browserLanguage;

        if(language === 'es' && window.location.href.indexOf('/es/') === -1) {
            if(window.location.href[window.location.href.length - 1] === '/') {
                window.location.href= window.location.href + 'es/';
            } else {
                window.location.href= window.location.href + '/es/';
            }
        }
        </script>
        <link rel="icon" type="image/png" href="/favicon.png">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ text.title }}</title>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,600,500,700">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Cabin:400,400italic,500,600">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Great+Vibes">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body data-spy="scroll" class="{% if backstretch %}backstretch-enabled{% endif %} lang-{{ _lang_ }}">
        {% block content %} {% endblock %}

        <script src="/js/main.js"></script>
    </body>
</html>
